


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="dev" class="com.kumara.Dev" autowire="byType">
<!--    <property name="comp" ref="comp"/>-->

<!--<constructor-arg ref="lap1"/>-->
<!--    <property name="laptop" ref="lap1"/> Wiring the object of lap with dev using property and setter-->


<!--    <property name="age" value="21"/> Setting value using property tag and setter fn use this-->
<!--    <constructor-arg value="20"/> Setting value using the parameterised constructor-->


</bean>
    <bean id="comp" class="com.kumara.Laptop" primary="true">
    </bean>
    <bean id="desk1" class="com.kumara.Desktop">
    </bean>

</beans>